.developer {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @text-bold-color;
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  margin-top: 35px;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }
}

.developer__logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 9px;
}

.developer:hover .developer__logo path,
.developer:focus-within .developer__logo path {
  fill: @highlight-color;
}

.developer:active .developer__logo path {
  fill: @text-bold-color;
  opacity: 0.3;
}
