.hotel-search {
  padding-top: 13px;
  padding-bottom: 49px;
}

.hotel-search__wrapper {
  .container();
}

.hotel-search__carryover {
  display: none;
}

.hotel-search__title {
  color: @text-bold-color;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 22px;
}

.hotel-search__text {
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 28px;
}

.hotel-search__link {
  .button();
  font-size: 21px;
  padding: 14.5px 0 17.5px 0;
  text-align: center;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
}

@media (min-width: @tablet-width) {
  .hotel-search {
    padding-top: 15px;
    padding-bottom: 57px;
  }

  .hotel-search__wrapper {
    width: 458px;
    padding-top: 18px;
  }

  .hotel-search__carryover {
    display: block;
  }

  .hotel-search__title {
    font-size: 30px;
    margin-bottom: 34px;
    margin-top: 23px;
  }

  .hotel-search__text {
    margin-bottom: 38px;
  }
}

@media (min-width: @desktop-width) {
  .hotel-search {
    padding-bottom: 67px;
    background-color: @basic-color;
    .container();
  }

  .hotel-search__text {
    margin-bottom: 44px;
  }

  .hotel-search__link {
    padding: 14px 0 17.5px 0;
  }
}
