.initials {
  padding-bottom: 5px;
}

.initials__label {
  .label();
  margin-right: 10px;
}

.initials__input {
  .input();
  margin-bottom: 20px;
}

.initials__input::placeholder {
  .title();
  text-transform: none;
  padding-left: 22px;
}
