.initials {
  padding-bottom: 5px;
}

.initials__label {
  .label();
  margin-right: 10px;
}

.initials__input {
  .input();
  margin-bottom: 20px;
  .title();
  text-transform: none;

  @media (min-width: @tablet-width) {
    width: 178px;
  }

  @media (min-width: @desktop-width) {
    width: 312px;
  }
}

.initials__input::placeholder {
  .title();
  text-transform: none;
}
