.introduction {
  border-color: @basic-color;
  padding-top: 31px;
  padding-bottom: 55px;
  background-image:
    linear-gradient(-5deg, @highlight-color 12%, transparent 12.3%),
    linear-gradient(-355deg, @highlight-color 12%, transparent 12.3%);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.introduction__wrapper {
  .container();
  width: 258px;
}

.introduction--form,
.introduction--catalog {
  border-bottom: 1px solid @border-form-color;

  .introduction__wrapper {
    @media (min-width: @tablet-width) {
      width: 458px;
    }
  }
}

.introduction__title {
  margin: 0;
  margin-right: 3px;
  text-align: center;
  .title();
}

.introduction__text {
  margin-top: 30px;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;

  &--main-page {
    line-height: 26px;
  }
}

.introduction--catalog {
  padding-left: 4px;
  background-image: none;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    padding-top: 53px;

    .introduction__text {
      margin-top: 33px;
    }
  }

  .introduction__wrapper {
    width: 275px;

    @media (min-width: @tablet-width) {
      width: 445px;
      padding-right: 5px;
    }
  }

  @media (min-width: @tablet-width) {
    .introduction__title {
      font-size: 30px;
    }
  }
}

@media (min-width: @tablet-width) {
  .introduction--catalog {
    border-bottom: none;
  }
}

@media (min-width: @tablet-width) {
  .introduction {
    background-image: none;
    padding-bottom: 41px;
  }

  .introduction__title {
    .title-desktop();
  }

  .introduction__wrapper {
    width: 520px;
    margin-top: 12px;
  }
}

@media (min-width: @desktop-width) {
  .introduction {
    background-color: @basic-color;
    .container();
    padding-bottom: 30px;
  }

  .introduction__wrapper {
    margin-top: 23px;
  }

  .introduction__text {
    margin-top: 32px;
  }
}
