.introduction {
  border-color: @basic-color;
  padding-top: 30px;
  padding-bottom: 55px;
  background-image:
    linear-gradient(-5deg, @highlight-color 12%, transparent 12.3%),
    linear-gradient(-355deg, @highlight-color 12%, transparent 12.3%);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.introduction__wrapper {
  .container();
  width: 260px;
}

@media (min-width: @tablet-width) {
  .introduction--catalog {
    border-bottom: none;
  }
}

.introduction__title {
  margin: 0;
  text-align: center;
  .title();
  margin-right: 3px;
}

.introduction__text {
  margin-top: 31px;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;

  &--main-page {
    line-height: 26px;
  }
}

@media (min-width: @tablet-width) {
  .introduction {
    background-image: none;
    padding-bottom: 41px;
  }

  .introduction__title {
    .title-desktop();
  }

  .introduction__wrapper {
    width: 520px;
    margin-top: 12px;
  }
}

@media (min-width: @desktop-width) {
  .introduction {
    background-color: @basic-color;
    .container();
    padding-bottom: 28px;
    padding-top: 30px;
  }

  .introduction__wrapper {
    margin-top: 23px;
  }

  .introduction__title {
    margin-left: -1px;
  }

  .introduction__text {
    margin-top: 32px;
  }
}

.introduction--form,
.introduction--catalog {
  border-bottom: 1px solid @border-form-color;
  padding-top: 35px;
  background: none;
  padding-bottom: 2px;

  .introduction__title {
    margin-right: 0;
  }

  @media (min-width: @tablet-width) {
    border-bottom: none;
    margin-bottom: 60px;
    padding-top: 51px;

    .introduction__title {
      font-size: 30px;
      line-height: 26px;
    }
  }

  .introduction__wrapper {
    width: 300px;

    @media (min-width: @tablet-width) {
      width: 435px;
    }

    @media (min-width: @desktop-width) {
      width: 440px;

      .introduction__title {
        margin-left: -4px;
      }
    }
  }

  .introduction__text {
    margin-top: 28px;

    @media (min-width: @tablet-width) {
      margin-top: 33px;
    }

    @media (min-width: @desktop-width) {
      margin-left: 0;
      margin-right: 2px;
      margin-top: 34px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 89px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
}

.introduction--catalog {
  background-image: none;
  padding-bottom: 17px;
  border-bottom: none;
  padding-top: 31px;

  .introduction__text {
    margin-top: 28px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 53px;
    padding-bottom: 40px;
    margin-bottom: 23px;

    .introduction__text {
      margin-top: 33px;
      margin-left: 4px;
    }
  }

  .introduction__wrapper {
    width: 275px;

    @media (min-width: @tablet-width) {
      width: 445px;
      padding-right: 5px;
    }
  }

  @media (min-width: @tablet-width) {
    .introduction__title {
      font-size: 30px;
      margin-left: 4px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 77px;
    margin-bottom: 25px;

    .introduction__title {
      font-size: 30px;
      padding-left: 4px;
    }
  }
}
