.intoduction {
}

.introduction__title {
  margin-top: 60px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  line-height: 26px;
  color: @text-bold-color;
}

.introduction__text {
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 48px;
}
