.main-nav {
  background-color: @basic-color;
  z-index: 1;
  min-height: 56px;
  width: 100%;

  &__list {
    .list();
  }
}

.main-nav__item {
  background-color: @highlight-color;
  box-shadow: 0 1px 0 fade(@shadow-color, 20%), inset 0 1px 0 fade(@basic-color, 20%);
  margin-bottom: 1px;
  text-align: center;
}

.main-nav__item:first-of-type {
  box-shadow: 0 1px 0 fade(@shadow-color, 20%);
}

.main-nav__item:last-of-type {
  box-shadow: inset 0 1px 0 fade(@basic-color, 20%);
}

.main-nav__link {
  text-decoration: none;
  color: @basic-color;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    .container();
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__item {
    min-width: 19.921875%;
    background-color: @basic-color;
    box-shadow: none;
  }

  .main-nav__link {
    color: @text-bold-color;
    font-size: 14px;
    line-height: 26px;
  }

  .main-nav__item:first-of-type {
    box-shadow: none;
  }

  .main-nav__item:nth-of-type(2) {
    margin-right: 20.3125%;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    .container();
  }

  .main-nav__item {
    min-width: 19.9166667%;
  }

  .main-nav__item:nth-of-type(2) {
    margin-right: 20.3333%;
  }
}
