.page-header {
  position: relative;
  background: url("../img/intro-triangle.svg") center bottom no-repeat;
  border-bottom: 1px solid @basic-color;

  &__container {
    min-height: 389px;
    width: 100%;
    background: url("../img/text.svg") 50% 50% no-repeat, url("../img/back-desktop.jpg") 50% 50%  no-repeat;
    background-size: auto, 901px 389px;
  }

  @media (min-width: @tablet-width) {
    min-height: 518px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-color: @basic-color;
    .container();
  }
}

@media (min-width: @tablet-width) {
  .page-header__container {
    min-height: 518px;
    background-size: 461px 349.97px, 1200px 518px;
    background-position: 50% 77px, 50% 50%;
  }
}
