.page-footer__wrapper {
  padding-top: 38.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .container();
  padding-bottom: 45px;
}

@media (min-width: @tablet-width) {
  .page-footer__wrapper {
    width: 648px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 18px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    background-color: @basic-color;
    .container();
  }

  .page-footer__wrapper {
    width: 960px;
    padding-top: 16px;
  }
}
