.popup-success {
  padding-top: 38px;

  &__title {
    .title();
    text-align: center;
  }

  &__message {
    .popup-text();
  }

  &__buttom {
    background-color: @input-color;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__close {
    .button();
    width: 100%;
  }
}
