.reasons__extra-wrapper {
  width: 89.375%;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 91.9270833%;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 90%;
    margin: 0 auto;
  }
}
