.reasons-list {
  .list();

  &__photo {
    width: 100%;
    height: 260px;
  }

  &__photo--1 {
    background: url("../img/photo-city-tablet.jpg") no-repeat 50% 50%, @background-color;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/photo-city-tablet@2x.jpg") no-repeat 50% 50%, @background-color;
      background-size: cover;
    }

    @media (min-width: @desktop-width) {
      background: url("../img/photo-city-desktop.jpg") no-repeat 50% 50%, @background-color;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background: url("../img/photo-city-desktop@2x.jpg") no-repeat 50% 50%, @background-color;
        background-size: cover;
      }
    }
  }

  &__photo--2 {
    background: url("../img/photo-bridge-tablet.jpg") no-repeat 50% 50%, @background-color;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/photo-bridge-tablet@2x.jpg") no-repeat 50% 50%, @background-color;
      background-size: cover;
    }

    @media (min-width: @desktop-width) {
      background: url("../img/photo-bridge-desktop.jpg") no-repeat 50% 50%, @background-color;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background: url("../img/photo-bridge-desktop@2x.jpg") no-repeat 50% 50%, @background-color;
        background-size: cover;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .reasons-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .reasons-list__photo {
    height: 256px;
  }

  .reasons-list__item:nth-of-type(1) {
    .reasons-list__photo {
      grid-column-start: 2;
      grid-column-end: 4;
    }
  }

  .reasons-list__item:nth-of-type(2) {
    .reasons-list__photo {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
  }

  .reasons-list__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .reasons-list__item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .reasons-list__item:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4;
    padding-bottom: 0;
  }

  .reasons-list__item:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .reasons-list__item:nth-child(4) {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

@media (min-width: @desktop-width) {
  .reasons-list__photo--1 {
    background: url("../img/photo-city-desktop.jpg") no-repeat 50% 50%, @background-color;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/photo-city-desktop@2x.jpg") no-repeat 50% 50%, @background-color;
      background-size: cover;
    }
  }

  .reasons-list__photo--2 {
    background: url("../img/photo-bridge-desktop.jpg") no-repeat 50% 50%, @background-color;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background: url("../img/photo-bridge-desktop@2x.jpg") no-repeat 50% 50%, @background-color;
      background-size: cover;
    }
  }
}
