.reason-header {
  background-color: @highlight-color;
  color: @basic-color;
  text-align: center;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 26px;
  position: relative;

  &__wrapper {
    .container();
    width: 300px;
  }

  &__name {
    .title();
    color: @basic-color;
    margin: 0;
    margin-bottom: 10px;
  }

  &__text {
    margin-top: 18px;
  }

  &--brief {
    background-color: @reason-brief-color;
    border-bottom: 1px solid @border-color;

    .reason-header__name {
      color: @text-bold-color;
    }

    .reason-header__text,
    .reason-header__number {
      color: @text-color;
    }
  }
}

@media (min-width: @tablet-width) {
  .reason-header__wrapper {
    width: 192px;
  }

  .reason-header--left {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .reason-header--right {
    grid-column-start: 3;
    grid-column-end: 4;
  }

  .reason-header--brief {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

@media (min-width: @desktop-width) {
  .reason-header {
    .reason-header__wrapper {
      width: 262px;
      margin: 0 auto;
    }
  }

  .reasons-list__item:last-of-type {
    .reason-header--brief {
      .reason-header__wrapper {
        margin: 0 auto;
      }
    }
  }
}
