.video {
  position: relative;
  padding-top: 18px;
}

.video__replay-icon,
.video__subtitles-icon,
.video__fullscreen-icon {
  fill: @video-icon-color-mobile;
}

.video__wrapper-part {
  .container();
  position: relative;
  width: 280px;
}

.video__wrapper-part--text {
  width: 240px;
}

.video__title {
  .title();
  text-align: center;
}

.video__description {
  text-align: center;
  text-transform: uppercase;
  line-height: 24px;
  margin-bottom: 34px;
  margin-top: 28px;
}

.video__frame {
  width: 320px;
  margin: 0 auto;
  display: block;
  position: relative;
  background: url("../img/video-desktop.jpg"), @background-color;
  background-size: cover;
  height: 201px;

  @media (min-resolution: 2dppx) {
    background: url("../img/video-desktop@2x.jpg"), @background-color;
    background-size: cover;
  }
}

.video__controls {
  background-color: @input-color;
  min-height: 66px;
  margin-bottom: 40px;
  position: relative;
}

.video__range {
  background-color: fade(@text-bold-color, 60%);
  min-height: 45px;
  position: absolute;
  width: 100%;
  bottom: 66px;
  padding-left: 22px;
  padding-right: 23px;
  box-sizing: border-box;
}

.video__bar {
  width: 100%;
  background-color: fade(@basic-color, 20%);
  height: 3px;
  margin-top: 22px;
}

.video__toggle {
  width: 9.07px;
  height: 9.07px;
  background-color: @basic-color;
  border-radius: 50%;
  margin-top: -6px;
  margin-left: 16%;
}

.video__replay,
.video__subtitles,
.video__fullscreen {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

.video__replay {
  width: 66px;
  height: 66px;
}

.video__replay:hover .video__replay-icon,
.video__subtitles:hover .video__subtitles-icon,
.video__fullscreen:hover .video__fullscreen-icon,
.video__replay:focus .video__replay-icon,
.video__subtitles:focus .video__subtitles-icon,
.video__fullscreen:focus .video__fullscreen-icon {
  fill: @text-color;
}

.video__replay:active .video__replay-icon,
.video__subtitles:active .video__subtitles-icon,
.video__fullscreen:active .video__fullscreen-icon {
  fill: @text-color;
  opacity: 0.3;
}

.video__subtitles {
  width: 49px;
  height: 66px;
  right: 66px;
  padding-top: 2px;
}

.video__fullscreen {
  padding-top: 1px;
  width: 66px;
  height: 66px;
  right: 0;
}

@media (min-width: @tablet-width) {
  .video {
    padding-bottom: 40px;
    padding-top: 32px;

    .video__replay-icon,
    .video__subtitles-icon,
    .video__fullscreen-icon {
      fill: @basic-color;
    }

    .video__replay:hover .video__replay-icon,
    .video__replay:focus .video__replay-icon,
    .video__subtitles:hover .video__subtitles-icon,
    .video__subtitles:focus .video__subtitles-icon,
    .video__fullscreen:hover .video__fullscreen-icon,
    .video__fullscreen:focus .video__fullscreen-icon {
      fill: @basic-color;
      opacity: 0.6;
    }

    .video__replay:active .video__replay-icon,
    .video__subtitles:active .video__subtitles-icon,
    .video__fullscreen:active .video__fullscreen-icon {
      fill: @basic-color;
      opacity: 0.3;
    }
  }

  .video__title {
    font-size: 30px;
  }

  .video__description {
    margin-top: 33px;
    margin-bottom: 80px;
  }

  .video__wrapper-part {
    width: 648px;
  }

  .video__wrapper-part--text {
    margin: 0 auto;
    width: 445px;
  }

  .video__frame {
    width: 648px;
    margin: 0 auto;
    height: 500px;
    background: url("../img/video-desktop.jpg"), @background-color;
    background-size: cover;
    background-position: -75px 50%;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background: url("../img/video-desktop@2x.jpg"), @background-color;
      background-size: cover;
      background-position: -75px 50%;
    }
  }

  .video__controls {
    position: absolute;
    width: 100%;
    min-height: 0;
  }

  .video__range {
    bottom: 0;
    padding-left: 93px;
    padding-right: 166px;
    min-height: 93px;
  }

  .video__toggle {
    margin-left: 29%;
  }

  .video__bar {
    margin-top: 45px;
  }

  .video__replay {
    left: 10px;
    bottom: 13px;
  }

  .video__subtitles {
    right: 84px;
    bottom: 13px;
  }

  .video__fullscreen {
    right: 20px;
    bottom: 13px;
    position: absolute;
  }
}

@media (min-width: @desktop-width) {
  .video__wrapper-part:nth-of-type(2) {
    width: 800px;
  }

  .video {
    padding-top: 37px;
    padding-bottom: 87px;
  }

  .video__frame {
    width: 800px;
    background-position: 50% 50%;

    @media (min-resolution: 2dppx) {
      background-position: -50% 50%;
    }
  }

  .video__description {
    margin-bottom: 77px;
  }

  .video__toggle {
    margin-left: 21%;
  }
}
