@basic-color: #ffffff;
@text-color: #333333;
@highlight-color: #81b3d2;
@text-bold-color: #000000;
@reason-brief-color: #eeeeee;
@border-color: #d6d6d6;
@shadow-color: #010101;
@shadow-color-transparent: fade(@shadow-color, 20%);
@basic-color-transparent: fade(@basic-color, 20%);
@border-form-color: #e5e5e5;
@dark-input-color: #d5d5d5;
@different-post-color: #eaeaea;
@input-color: #f2f2f2;
@icon-color: #e6e6e6;
@button-hover: #669ec0;
@button-active: #5496bd;
@dark-highlight-color: #669ec0;
@darkest-highlight-color: #5496bd;
@active-menu-color: #766357;
@active-hover-menu-color: #604e43;
@modal-shadow-color: #000101;
@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
